{% extends "layout.html" %}
{% block title %}Konta{% endblock %}
{% set active_page = "accounts" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/account-modal.css') }}">

  <script src="{{url_for('static', filename='js/modals/add-acc-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/edit-acc-modal.js')}}" async></script>

{% endblock %}
{% block content %}
<div id="add-acc-btn-modal" class="modal">
  {% include 'modals/add-acc-modal.html' %}
</div>
<div id="edit-acc-btn-modal" class="modal">
  {% include 'modals/edit-acc-modal.html' %}
</div>

<div class="accounts-flexbox">
  <a onclick="addAccBtnClick()" class="account-add bg-main-btn fc-main-btn">
    <span class="account-plus-sign fa fa-plus"></span>
    <span class="fs-1">Dodaj Konto</span>
  </a>
  {% for account,currency,card,acc_type,style in accounts %}
    <div class="account-info style-{{ style.name }}">
      <span class="fs-1 fw-light">5,877.92 {{ currency.name }}</span>
      <span class="fs-1 fw-semibold">{{ acc_type.name }}</span>
      <span class="fs-2 fw-light">
        {% if account.fin_inst %}{{ account.fin_inst }}{% endif %} {% if card.name %}{{ card.name }}{% endif %}
      </span>
      {% if account.card_number %}
      <span class="fs-4">**** {{ account.card_number }}</span>  <!-- dodać If not none -->
      {% endif %}
      <a onclick="editAccBtnClick()" class="account-edit">
        <span class="fs-2">Edytuj Konto</span>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}