{% extends "layout.html" %}
{% block title %}Konta{% endblock %}
{% set active_page = "accounts" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/account-modal.css') }}">
{% endblock %}
{% block content %}
<div class="accounts-flexbox">
  <a href="#modal-add" class="account-add bg-main-btn fc-main-btn">
    <span class="account-plus-sign fa fa-plus"></span>
    <span class="fs-1">Dodaj Konto</span>
  </a>
  <div class="popup" id="modal-add">
    <a class="popup_overlay" href="#"></a>
    <div class="popup_wrapper">
      <a class="popup_close" href="#">Zamknij</a>
      <form class="fs-4 income-form" method="POST" action="">
        {{ form_add.hidden_tag() }}
        {{ form_add.amount(id="acc_amount", class="fs-1", type="number", required="required", step="0.01", min="0.01", placeholder="Aktualne saldo") }}
        {{ form_add.fin_inst(id="acc_name") }}
        {{ form_add.currency.label(class="input-label") }}
        {{ form_add.currency(id="acc_currency") }}
        {{ form_add.acc_type.label(class="input-label") }}
        {{ form_add.acc_type(id="acc_type") }}
        {{ form_add.card_type.label(class="input-label") }}
        {{ form_add.card_type(id="acc_card_type") }}
        {{ form_add.card_number(id="acc_card_num") }}
        <div class="input-line">
          <input id="acc_reset" class="fs-3" type="reset" value="Wyczyszć">
          {{ form_add.submitNewAcc(id="acc_submit", class="fs-3") }}
        </div>
      </form>
    </div>
  </div>
  {% for account,currency,card,acc_type,style in accounts %}
    <div class="account-info style-{{ style.name }}">
      <span class="fs-1 fw-light">{{ account.amount | currencyFormat }} {{ currency.name }}</span>
      <span class="fs-1 fw-semibold">{{ acc_type.name }}</span>
      <span class="fs-2 fw-light">
        {% if account.fin_inst %}{{ account.fin_inst }}{% endif %} {% if card.name %}{{ card.name }}{% endif %}
      </span>
      {% if account.card_number %}
      <span class="fs-4">**** {{ account.card_number }}</span>  <!-- dodać If not none -->
      {% endif %}
      <a href="#modal{{ account.id }}" class="account-edit" value=1>
        <span class="fs-2">Edytuj Konto</span>
      </a>
      <div class="popup" id="modal{{ account.id }}">
        <a class="popup_overlay" href="#"></a>
        <div class="popup_wrapper">
          <a class="popup_close" href="#">Zamknij</a>
          <form class="fs-4 income-form" method="POST" action="">
            {{ form_edit.hidden_tag() }}
            
            {{ form_edit.fin_inst(id="acc_name", value=account.fin_inst )}}
            {{ form_edit.currency.label(class="input-label") }}
            <select name="currency" id="acc_currency">
              <option {% if currency.id == 1 %}selected{% endif %} value="1">PLN</option>
              <option {% if currency.id == 2 %}selected{% endif %} value="2">USD</option>
              <option {% if currency.id == 3 %}selected{% endif %} value="3">EUR</option>
              <option {% if currency.id == 4 %}selected{% endif %} value="4">GBP</option>
              <option {% if currency.id == 5 %}selected{% endif %} value="5">BTC</option>
            </select>
            {{ form_edit.acc_type.label(class="input-label") }}
            <select name="acc_type" id="acc_type">
              <option {% if acc_type.id == 1 %}selected{% endif %} value="1">Rachunek Bieżący</option>
              <option {% if acc_type.id == 2 %}selected{% endif %} value="2">Karta Kredytowa</option>
              <option {% if acc_type.id == 3 %}selected{% endif %} value="3">Konto Maklerskie</option>
              <option {% if acc_type.id == 4 %}selected{% endif %} value="4">Gotówka</option>
              <option {% if acc_type.id == 5 %}selected{% endif %} value="5">Inne</option>
            </select>
            {{ form_edit.card_type.label(class="input-label") }}
            <select name="card_type" id="acc_card_type">
              <option {% if card.id == 1 %}selected{% endif %} value="1">-</option>
              <option {% if card.id == 2 %}selected{% endif %} value="2">MasterCard</option>
              <option {% if card.id == 3 %}selected{% endif %} value="3">Visa</option>
              <option {% if card.id == 4 %}selected{% endif %} value="4">Inna</option>
            </select>
            {{ form_edit.card_number(id="acc_card_num", value = account.card_number) }}
            {{ form_edit.account_id(type="hidden", value = account.id) }}
            <div class="input-line">
              {{ form_edit.deleteAcc(id="acc_delete", class="fs-3") }}
              {{ form_edit.submitEditAcc(id="acc_submit", class="fs-3") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}