{% extends "layout.html" %}
{% block title %}Konta{% endblock %}
{% set active_page = "accounts" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/account-modal.css') }}">

  <script src="{{url_for('static', filename='js/modals/add-acc-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/edit-acc-modal.js')}}" async></script>

{% endblock %}
{% block content %}
<div id="add-acc-btn-modal" class="modal">
  {% include 'modals/add-acc-modal.html' %}
</div>


<div class="accounts-flexbox">
  <a onclick="addAccBtnClick()" class="account-add bg-main-btn fc-main-btn">
    <span class="account-plus-sign fa fa-plus"></span>
    <span class="fs-1">Dodaj Konto</span>
  </a>
  {% for account,currency,card,acc_type,style in accounts %}
    <div class="modal">
      <!-- {% include 'modals/edit-acc-modal.html' %} -->
      <div class="modal-content">
        <div class="modal-top fs-3">
          <span class="fw-semibold">Edytuj Konto</span>
          <a class="tr-close">Zamknij</a>
        </div>
        <form class="fs-4 income-form" method="POST" action="">
          {{ form_edit.hidden_tag() }}
          <div class="input-line">
            <input id="acc_amount" class="fs-1" type="number" required="required" step="0.01" min="0.01" placeholder="Aktualne saldo">
          </div>
          {{ form_edit.fin_inst(id="acc_name", value=account.fin_inst )}}
          {{ form_edit.currency.label(class="input-label") }}
          {{ form_edit.currency(id="acc_currency", value=currency.name ) }}
          {{ form_edit.acc_type.label(class="input-label") }}
          {{ form_edit.acc_type(id="acc_type") }}
          {{ form_edit.card_type.label(class="input-label") }}
          {{ form_edit.card_type(id="acc_card_type") }}
          {{ form_edit.card_number(id="acc_card_num" ) }}
          <div class="input-line">
            <input id="acc_reset" class="fs-3" type="reset" value="Wyczyszć">
            {{ form_edit.submit(id="acc_submit", class="fs-3") }}
          </div>
        </form>
      </div>
    </div>

    <div class="account-info style-{{ style.name }}">
      <span class="fs-1 fw-light">5,877.92 {{ currency.name }}</span>
      <span class="fs-1 fw-semibold">{{ acc_type.name }}</span>
      <span class="fs-2 fw-light">
        {% if account.fin_inst %}{{ account.fin_inst }}{% endif %} {% if card.name %}{{ card.name }}{% endif %}
      </span>
      {% if account.card_number %}
      <span class="fs-4">**** {{ account.card_number }}</span>  <!-- dodać If not none -->
      {% endif %}
      {{ account.id }}
      <!-- {{ form_id.submit(onclick="editAccBtnClick(1)") }} -->
      <a onclick="editAccBtnClick({{ 1 }})" class="account-edit" value=1>
        <span class="fs-2">Edytuj Konto</span>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}