{% extends "layout.html" %}
{% block title %}Cele{% endblock %}
{% set active_page = "goals" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/goals.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/goal-modal.css') }}">

  <script src="{{url_for('static', filename='js/modals/add-goal-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/edit-goal-modal.js')}}" async></script>
{% endblock %}
{% block content %}
<div id="add-goal-btn-modal" class="modal">
  {% include 'modals/add-goal-modal.html' %}
</div>
<div id="edit-goal-btn-modal" class="modal">
  {% include 'modals/edit-goal-modal.html' %}
</div>

<div class="goals-flexbox">
  <a onclick="addGoalBtnClick()" class="goal-add bg-main-btn fc-main-btn">
    <span class="goal-plus-sign fa fa-plus"></span>
    <span class="fs-1">Dodaj Cel</span>
  </a>
  {% for goal in goals_list %}
    <div class="goal-info style-{{ goal.color }}">
      <span class="fs-1 fw-light">{{ goal.amount_available | currencyFormat }} / {{ goal.amount_required | currencyFormat }} {{ goal.currency }}</span>
      <span class="fs-1 fw-semibold">{{ goal.name }}</span>
      <div class="goal-bottom">
        <progress class="goal-progress" value="{{ goal.percentage }}" max="100"></progress>
        <a onclick="editGoalBtnClick()" class="goal-edit">
          <span class="fs-2">Edytuj Cel</span>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}