{% extends "layout.html" %}
{% block title %}Historia Transakcji{% endblock %}
{% set active_page = "history" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/f-modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/tr-modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/etr-modal.css') }}">

  <script src="{{url_for('static', filename='js/modals/tr-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/etr-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/f-modal.js')}}" async></script>
{% endblock %}
{% block content %}
<div id="filter-btn-modal" class="modal">
  <div class="modal-content">
    <div class="modal-top fs-3">
      <span class="fw-semibold">Filtruj</span>
      <a class="tr-close">Zamknij</a>
    </div>
    <div class="switch-field-filter">
      <input type="checkbox" id="radio-income-f" name="switch-one" value="income" checked/>
      <label class="radio-el" for="radio-income-f">Przychody</label>
      <input type="checkbox" id="radio-expense-f" name="switch-one" value="expense" checked/>
      <label class="radio-el" for="radio-expense-f">Wydatki</label>
    </div>
    <div id="tr-filter">
      <form class="fs-4 income-form" name="filter" action="" onsubmit="return validateFilterForm()">
        <div class="input-line">
          <input id="tr_amount_min" name="tr_amount_min" class="fs-1" type="number" step="0.01" min="0" placeholder="Min wartość">
          <input id="tr_amount_max" name="tr_amount_max" class="fs-1" type="number" step="0.01" min="0.02" placeholder="Max wartość">
        </div>
        <div class="input-line">
          <select id="tr_category" name="Kategoria">
            <option value="" disabled selected>Kategoria</option>
            <option value='clothes'>Odzież</option>
            <option value='food'>Jedzenie</option>
            <option value='transport'>Transport</option>
            <option value='car'>Samochód</option>
            <option value='house'>Dom</option>
            <option value='entertainment'>Rozrywka</option>
            <option value='kids'>Dzieci</option>
            <option value='traveling'>Podróżowanie</option>
            <option value='health'>Zdrowie</option>
            <option value='appearance'>Wygląd</option>
            <option value='devices'>Urządzenia</option>
            <option value='communication'>Komunikacja</option>
            <option value='education'>Edukacja</option>
            <option value='other'>Inne</option>
          </select>
          <select id="tr_account" name="Konto">
            <option value="" disabled selected>Konto</option>
            <optgroup label="Karty Kredytowe">
              <option value="1">Santander</option>
              <option value="2">PeKaO</option>
            </optgroup>
            <optgroup label="Konta Bieżące">
              <option value="3">GetIn</option>
              <option value="4">Santander</option>
            </optgroup>
            <optgroup label="Inne">
              <option value="5">XTB</option>
              <option value="6">Binance</option>
            </optgroup>
          </select>
        </div>
        <div class="input-line">
          <span class="date-label-f fs-4">Od</span>
          <input id="tr_date_min" type=date>
          <span class="date-label-f fs-4">Do</span>
          <input id="tr_date_max" type=date>
        </div>
        <div class="input-line">
          <input id="tr_reset" class="fs-3" type="reset" value="Resetuj">
          <input id="tr_submit" class="fs-3" type="submit" value="Filtruj">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="history-flexbox bg-white">
  <div class="buttons">
    <a onclick="filterBtnClick()" class="filter-btn fs-3 fw-semibold">
      <span>Filtry</span>
    </a>
    <a href="#modal-add" class="add-tr-btn fs-3">
      <span class="fw-semibold">Dodaj transakcję</span>
      <span class="tr-plus fa fa-fw fa-xl fa-plus bg-success-secondary"></span>
    </a>
    <div class="popup" id="modal-add">
      <a class="popup_overlay" href="#"></a>
      <div class="popup_wrapper">
        <a class="popup_close" href="#">Zamknij</a>
        <div class="switch-field">
          <input type="radio" id="radio-income" name="switch-two" value="yes" />
          <label class="radio-el" for="radio-income">Przychód</label>
          <input type="radio" id="radio-expense" name="switch-two" value="maybe" checked/>
          <label class="radio-el" for="radio-expense">Wydatek</label>
          <input type="radio" id="radio-transfer" name="switch-two" value="no" />
          <label class="radio-el" for="radio-transfer">Transfer</label>
        </div>
        <div id="tr-income">
          <form id="inc-form" class="fs-4 income-form" method="POST" action="">
            {{ form_inc_add.hidden_tag() }}
            {{ form_inc_add.tr_type_id(type="hidden", value = 2) }}
            {{ form_inc_add.tr_amount(id="tr_amount", class="fs-1", type="number", required="required", step="0.01", min="0.01", placeholder="0.00")}}
            {{ form_inc_add.tr_name(id="tr_name", type="text", required="required", placeholder="Nazwa Transakcji") }}
            <div class="input-line">
              {{ form_inc_add.inc_category(id="tr_category", required="required") }}
              {{ form_inc_add.account(id="tr_account", required="required") }}
            </div>
            <div class="input-line">
              <span class="date-label fs-4">Data</span>
              {{ form_inc_add.tr_date(id="tr_date") }}
              <span class="time-label fs-4">Czas</span>
              {{ form_inc_add.tr_time(id="tr_time") }}
            </div>
            <div class="input-line input-line-submit">
              {{ form_inc_add.submitNewTr(id="tr_submit", class="fs-3") }}
            </div>
          </form>
        </div>
        <div id="tr-expense">
          <form id="exp-form" class="fs-4 income-form" method="POST" action="">
            {{ form_exp_add.hidden_tag() }}
            {{ form_exp_add.tr_type_id(type="hidden", value = 1) }}
            {{ form_exp_add.tr_amount(id="tr_amount", class="fs-1", type="number", required="required", step="0.01", min="0.01", placeholder="0.00")}}
            {{ form_exp_add.tr_name(id="tr_name", type="text", required="required", placeholder="Nazwa Transakcji") }}
            <div class="input-line">
              {{ form_exp_add.exp_category(id="tr_category", required="required") }}
              {{ form_exp_add.account(id="tr_account", required="required") }}
            </div>
            <div class="input-line">
              <span class="date-label fs-4">Data</span>
              {{ form_exp_add.tr_date(id="tr_date") }}
              <span class="time-label fs-4">Czas</span>
              {{ form_exp_add.tr_time(id="tr_time") }}
            </div>
            <div class="input-line input-line-submit">
              {{ form_exp_add.submitNewTr(id="tr_submit", class="fs-3") }}
            </div>
          </form>
        </div>
        <div id="tr-transfer">
          <form id="transf-form" class="fs-4 income-form" method="POST" action="">
            {{ form_trf_add.hidden_tag() }}
            {{ form_trf_add.tr_type_id(type="hidden", value = 3) }}
            {{ form_trf_add.tr_amount(id="tr_amount", class="fs-1", type="number", required="required", step="0.01", min="0.01", placeholder="0.00")}}
            <div class="input-line">
              {{ form_trf_add.account_f(id="tr_account", required="required") }}
              {{ form_trf_add.account_to(id="tr_account", required="required") }}
            </div>
            <div class="input-line">
              <span class="date-label fs-4">Data</span>
              {{ form_trf_add.tr_date(id="tr_date") }}
              <span class="time-label fs-4">Czas</span>
              {{ form_trf_add.tr_time(id="tr_time") }}
            </div>
            <div class="input-line input-line-submit">
              {{ form_trf_add.submitNewTr(id="tr_submit", class="fs-3") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row first-header" role="columnheader">Data</div>
      <div class="flex-row" role="columnheader">Kategoria</div>
      <div class="flex-row" role="columnheader">Nazwa</div>
      <div class="flex-row" role="columnheader">Czas</div>
      <div class="flex-row" role="columnheader">Kwota</div>
      <div class="flex-row-edit" role="columnheader">Edycja</div>
    </div>
    {% for tr_date in tr_dates %}
    <div class="flex-table row" role="rowgroup">
      <div class="flex-row rowspan first">{{ tr_date.strftime("%d.%m.%Y") }}</div>
      <div class="column">
        {% for transaction,tr_type,account,currency,category,style in transactions.items %}
          {% if transaction.date == tr_date %}
          <div class="flex-row">
            <div class="flex-cell" role="cell">
              <div class="category-square style-{{ style.name }} my-auto">
                <span class="fa fa-lg fa-{{ category.icon }}"></span>
              </div>
            </div>
            <div class="flex-cell" role="cell">{{ transaction.name }}</div>
            <div class="flex-cell cell-time" role="cell">{{ transaction.time.strftime("%-H:%M") }}</div>
            <div class="flex-cell cell-amount" role="cell">
              <div class="amount {% if tr_type.name == 'Wydatek' %}{{ 'bg-danger fc-danger' }}{% else %}{{ 'bg-success fc-success' }}{% endif %}">
                {% if tr_type.name == 'Wydatek' %}{{ "-" }}{% endif %}{{ transaction.amount }} {{ currency.name }}
              </div>
            </div>
            <div class="flex-cell-edit" role="cell">
              <a href="#modal-edit{{ transaction.id }}" class="fa fa-lg fa-pen"></a>
              <div class="popup" id="modal-edit{{ transaction.id }}">
                <a class="popup_overlay" href="#"></a>
                <div class="popup_wrapper">
                  <a class="popup_close" href="#">Zamknij</a>
                  <div id="tr-edit">
                    <form id="inc-form" class="fs-4 income-form" method="POST" action="">
                      {{ form_edit.hidden_tag() }}
                      {{ form_edit.tr_id(type="hidden", value = transaction.id) }}
                      {{ form_edit.tr_amount(id="tr_amount", class="fs-1", type="number", required="required", step="0.01", min="0.01", placeholder="0.00", value=transaction.amount) }}
                      {{ form_edit.tr_name(id="tr_name", type="text", required="required", placeholder="Nazwa Transakcji", value=transaction.name) }}
                      <div class="input-line">
                        <span class="date-label fs-4">Data</span>
                        {{ form_edit.tr_date(id="tr_date", value=transaction.date) }}
                        <span class="time-label fs-4">Czas</span>
                        {{ form_edit.tr_time(id="tr_time", value=transaction.time.strftime("%-H:%M")) }}
                      </div>
                      <div class="input-line">
                        {{ form_edit.deleteTr(id="tr_delete", class="fs-3") }}
                        {{ form_edit.submitEditTr(id="tr_submit", class="fs-3") }}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% for page_num in transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if transactions.page == page_num %}
        <a href="{{ url_for('history', page=page_num) }}" class="page-btn-active">{{ page_num }}</a>
      {% else %}
        <a href="{{ url_for('history', page=page_num) }}" class="page-btn">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}