{% extends "layout.html" %}
{% block title %}Konto użytkownika{% endblock %}
{% set active_page = "userpage" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
{% endblock %}
{% block content %}
<div class="userpage-flexbox">
  <div class="user-full-name">{{ current_user.name }} {{ current_user.surname }}</div>
  <div class="user-email">Email: {{ current_user.email }}</div>
  <div class="acc-list fw-bold">Lista twoich kont:</div>
  <div class="accounts">
    {% for account,acc_type in accounts %}
    <p>
    {{ account.fin_inst }} - {{ acc_type.name }}
    </p>
    {% endfor %}
  </div>
</div>
{% endblock %}