<option value='clothes'>Odzież</option>
<option value='food'>Jedzenie</option>
<option value='transport'>Transport</option>
<option value='car'>Samochód</option>
<option value='house'>Dom</option>
<option value='entertainment'>Rozrywka</option>
<option value='kids'>Dzieci</option>
<option value='traveling'>Podróżowanie</option>
<option value='health'>Zdrowie</option>
<option value='appearance'>Wygląd</option>
<option value='devices'>Urządzenia</option>
<option value='communication'>Komunikacja</option>
<option value='education'>Edukacja</option>
<option value='other'>Inne</option>