.modal-top {
	display: flex;
	justify-content: space-between;
}

.switch-field-filter {
	display: flex;
	flex: 1;
	justify-content: center;
}

.switch-field-filter input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field-filter label {
	background-color: white;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.switch-field-filter label:hover {
	cursor: pointer;
}

.switch-field-filter input:checked + label{
	box-shadow: none;
	color: #F3F8F5;
}

.radio-el {
	flex: 1 1 auto;
}

.switch-field-filter #radio-income-f:checked + label{
	background-color: #239341;
}

.switch-field-filter #radio-expense-f:checked + label{
	background-color: #FA5656;
}

.switch-field-filter #radio-transfer-f:checked + label{
	background-color: #568ffa;
}

.switch-field-filter label:first-of-type {
	border-radius: 0.5rem 0 0 0.5rem;
}

.switch-field-filter label:last-of-type {
	border-radius: 0 0.5rem 0.5rem 0;
}

input {
	color: inherit;
}

#tr_amount_min, #tr_amount_max {
	text-align: center;
	width: calc(50% - 0.5rem);
	display: flex;
	padding: 1rem;
	margin: 0.5rem auto;
	border: none;
	border-bottom: 1px solid #ccc;
}

#tr_amount_min:focus, #tr_amount_max:focus {
	border-bottom: 1px solid #46644F;
}

#tr_amount_min::placeholder, #tr_amount_max::placeholder {
	text-align: center; 
}

#tr_name {
	width: 100%;
	padding: 1rem;
	margin: 0.5rem 0;
	border: 1px solid #ccc;
	border-radius: 0.8rem;
}

#tr_name:focus {
	border: 1px solid #46644F;
}

.input-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#tr_category, #tr_account, #tr_account_from, #tr_account_to {
	text-align-last: center;
	width: calc(50% - 0.25rem);
	border: 1px solid #ccc;
}

#tr_date_min, #tr_date_max {
	padding: 1rem;
	border-radius: 0.8rem;
	width: calc(50% - 0.25rem);
	border: 1px solid #ccc;
}

.date-label-f {
	display: block;
	padding: 0 1rem;
}

#tr_reset, #tr_submit {
	padding: 1rem;
	margin: 0.5rem 0 0;
	border-radius: 0.8rem;
	width: 30%;
	border: 1px solid #ccc;
}

#tr_reset {
	background: none;
}

#tr_reset:hover {
	background-color: #F3F8F5;
}

#tr_reset:active {
	color: #F3F8F5;
	background-color: #46644F;
}

#tr_submit {
	color: #F3F8F5;
	background-color: #46644F;
}

#tr_submit:hover {
	opacity: 0.9;
}

#tr_submit:active {
	color: #46644F;
	background-color: #F3F8F5;
}