.modal-top {
	display: flex;
	justify-content: space-between;
}

.switch-field {
	margin: 2rem 0 0.5rem;
	display: flex;
	flex: 1;
	justify-content: center;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: white;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label{
	box-shadow: none;
	color: #F3F8F5;
}

.radio-el {
	flex: 1 1 auto;
}

.switch-field #radio-income:checked + label{
	background-color: #239341;
}

.switch-field #radio-expense:checked + label{
	background-color: #FA5656;
}

.switch-field #radio-transfer:checked + label{
	background-color: #568ffa;
}

.switch-field label:first-of-type {
	border-radius: 0.5rem 0 0 0.5rem;
}

.switch-field label:last-of-type {
	border-radius: 0 0.5rem 0.5rem 0;
}

input {
	color: inherit;
	-webkit-appearance: none;
}

#goal_amount:focus:invalid {
	border-radius: 1rem;
	background-color: #fff3f3;
	border: 1px solid red;
}

#goal_amount_min, #goal_amount_max {
	text-align: center;
	width: 70%;
	display: flex;
	padding: 1rem;
	margin: 0.5rem auto;
	border: none;
	border-radius: 1rem;
	border-bottom: 1px solid #ccc;
}

#goal_amount:focus {
	border-bottom: 1px solid #46644F;
}

#goal_amount::placeholder {
	text-align: center; 
}



#goal_name {
	width: 100%;
	padding: 1rem;
	margin: 0.5rem 0;
	border: 1px solid #ccc;
	border-radius: 0.8rem;
}

#goal_name:focus {
	border: 1px solid #46644F;
}

.input-line {
	gap: 1rem;
	display: flex;
	justify-content: space-between;
}

select {
	border-radius: 0.8rem;
}

#goal_account {
	text-align-last: center;
	width: 100%;
	border: 1px solid #ccc;
}

#goal_delete, #goal_reset, #goal_submit {
	padding: 1rem;
	margin: 0.5rem 0 0;
	border-radius: 0.8rem;
	width: 30%;
	border: 1px solid #ccc;
}

#goal_delete, #goal_reset {
	background: none;
}

#goal_delete:hover {
	background-color: #e48c8c;
}

#goal_reset:hover {
	background-color: #F3F8F5;
}

#goal_delete:active {
	color: #f8f3f3;
	background-color: #644646;
}

#goal_reset:active {
	color: #F3F8F5;
	background-color: #46644F;
}

form:invalid #goal_submit {
	opacity: 0.3;
	pointer-events: none;
}

#goal_submit {
	color: #F3F8F5;
	background-color: #46644F;
}

#goal_submit:hover {
	opacity: 0.9;
}

#goal_submit:active {
	color: #46644F;
	background-color: #F3F8F5;
}

@media (max-width: 800px) {
	.input-line {
		flex-direction: column;
	}

	.input-line > * {
		width: 100% !important;
	}

	.date-label, .time-label {
		display: block;
		padding: 0 1rem;
	}
}