<div class="modal-content">
  <div class="modal-top fs-3">
    <span class="fw-semibold">Nowy Cel</span>
    <a class="tr-close">Zamknij</a>
  </div>
  <div id="tr-expense">
    <form class="fs-4 income-form" action="">
      <div class="input-line">
        <input id="goal_amount_min" name="goal_amount_min" class="fs-1" type="number" step="0.01" min="0" placeholder="Dostępne">
        <input id="goal_amount_max" name="goal_amount_max" class="fs-1" type="number" required="required" step="0.01" min="0.02" placeholder="Cel">
      </div>
      <input id="goal_name" type="text" required="required" placeholder="Nazwa Celu">
      <select id="goal_account" required="required" name="Konto">
        <option value="" disabled selected>Konto</option>
        {% include 'additional/account-list.html' %}
      </select>
      <div class="input-line">
        <input id="goal_reset" class="fs-3" type="reset" value="Wyczyszć">
        <input id="goal_submit" class="fs-3" type="submit" value="Dodaj">
      </div>
    </form>
  </div>
</div>