<div class="modal-content">
  <div class="modal-top fs-3">
    <span class="fw-semibold">Filtruj</span>
    <a class="tr-close">Zamknij</a>
  </div>
  <div class="switch-field-filter">
		<input type="checkbox" id="radio-income-f" name="switch-one" value="yes" checked/>
		<label class="radio-el" for="radio-income-f">Przychody</label>
    <input type="checkbox" id="radio-expense-f" name="switch-one" value="maybe" checked/>
		<label class="radio-el" for="radio-expense-f">Wydatki</label>
		<input type="checkbox" id="radio-transfer-f" name="switch-one" value="no" checked/>
		<label class="radio-el" for="radio-transfer-f">Transfery</label>
	</div>
  <div id="tr-filter">
    <form class="fs-4 income-form" action="">
      <input id="tr_amount" class="fs-1" type="number" step="0.01" min="0.00" placeholder="0.00">
      <input id="tr_name" type="text" placeholder="Nazwa Transakcji">
      <div class="input-line">
        <select id="tr_category" name="Kategoria">
          <option value="" disabled selected>Kategoria</option>
          {% include 'additional/income-categories-list.html' %}
        </select>
        <select id="tr_account" name="Konto">
          <option value="" disabled selected>Konto</option>
          {% include 'additional/account-list.html' %}
        </select>
      </div>
      <div class="input-line">
        <span class="date-label fs-4">Data</span>
        <input id="tr_date" type=date>
        <span class="time-label fs-4">Czas</span>
        <input id="tr_time" type=time>
      </div>
      <div class="input-line">
        <input id="tr_reset" class="fs-3" type="reset" value="Wyczyszć">
        <input id="tr_submit" class="fs-3" type="submit" value="Dodaj">
      </div>
    </form>
  </div>
</div>