<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>
<div class="tr-modal-content">
  <div class="modal-top">
    <span class="fs-3 fw-semibold">Nowa Transakcja</span>
    <a class="tr-close">Zamknij</a>
  </div>
  <div class="switch-field">
		<input type="radio" id="radio-income" name="switch-one" value="yes" />
		<label class="radio-el" for="radio-income">Przychód</label>
    <input type="radio" id="radio-expense" name="switch-one" value="maybe" checked/>
		<label class="radio-el" for="radio-expense">Wydatek</label>
		<input type="radio" id="radio-transfer" name="switch-one" value="no" />
		<label class="radio-el" for="radio-transfer">Transfer</label>
	</div>
  <div id="tr-income">
    <input type="text" id="tr_name" name="transaction_name" placeholder="Nazwa Transakcji">
    kwota
    konto
    data
    czas
    kategoria
  </div>
  <div id="tr-expense">
    nazwa
    kwota
    konto
    data
    czas
    kategoria
  </div>
  <div id="tr-transfer">
    kwota
    konto z
    konto do
    data
    czas
  </div>
</div>