{% extends "layout.html" %}
{% block title %}Historia Transakcji{% endblock %}
{% set active_page = "history" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/f-modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/tr-modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modals/etr-modal.css') }}">

  <script src="{{url_for('static', filename='js/modals/tr-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/etr-modal.js')}}" async></script>
  <script src="{{url_for('static', filename='js/modals/f-modal.js')}}" async></script>
{% endblock %}
{% block content %}
<div id="add-tr-btn-modal" class="modal">
  {% include 'modals/tr-modal.html' %}
</div>
<div id="filter-btn-modal" class="modal">
  {% include 'modals/f-modal.html' %}
</div>
<div id="edit-tr-btn-modal" class="modal">
  {% include 'modals/etr-modal.html' %}
</div>

<div class="history-flexbox bg-white">
  <div class="buttons">
    <a onclick="filterBtnClick()" class="filter-btn fs-3 fw-semibold">
      <span>Filtry</span>
    </a>
    <a onclick="AddTrBtnClick()" class="add-tr-btn fs-3">
      <span class="fw-semibold">Dodaj transakcję</span>
      <span class="tr-plus fa fa-fw fa-plus bg-success-secondary"></span>
    </a>
  </div>
  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row first-header" role="columnheader">Data</div>
      <div class="flex-row" role="columnheader">Kategoria</div>
      <div class="flex-row" role="columnheader">Nazwa</div>
      <div class="flex-row" role="columnheader">Czas</div>
      <div class="flex-row" role="columnheader">Kwota</div>
      <div class="flex-row-edit" role="columnheader">Edycja</div>
    </div>
    <div class="flex-table row" role="rowgroup">
      <div class="flex-row rowspan first">19.10.2022</div>
      <div class="column">
        <div class="flex-row">
          <div class="flex-cell" role="cell">
            <div class="category-square style-green my-auto">
              <span class="fa fa-lg fa-book"></span>
            </div>
          </div>
          <div class="flex-cell" role="cell">Lekcja Francuskiego</div>
          <div class="flex-cell" role="cell">19:23</div>
          <div class="flex-cell" role="cell">
            <div class="amount bg-danger fc-danger">-90.00 PLN</div>
          </div>
          <div class="flex-cell-edit" role="cell">
            <a onclick="editTrBtnClick()" class="fa fa-lg fa-pen"></a> <!-- Przesyłać id transakcji w funkcji i otwierać jej dane do edycji -->
          </div>
        </div>
      </div>
    </div>
    <div class="flex-table row" role="rowgroup">
      <div class="flex-row rowspan first">17.10.2022</div>
      <div class="column">
        <div class="flex-row">
          <div class="flex-cell" role="cell">
            <div class="category-square style-red my-auto">
              <span class="fa fa-lg fa-briefcase"></span>
            </div>
          </div>
          <div class="flex-cell" role="cell">Premia Miesięczna</div>
          <div class="flex-cell" role="cell">11:24</div>
          <div class="flex-cell" role="cell">
            <div class="amount bg-success fc-success">+3,490.20 PLN</div>
          </div>
          <div class="flex-cell-edit" role="cell">
            <a href="" class="fa fa-lg fa-pen"></a>
          </div>
        </div>
        <div class="flex-row" role="rowgroup">
          <div class="flex-cell" role="cell">
            <div class="category-square style-red my-auto">
              <span class="fa fa-lg fa-briefcase"></span>
            </div>
          </div>
          <div class="flex-cell" role="cell">Premia Miesięczna</div>
          <div class="flex-cell" role="cell">11:24</div>
          <div class="flex-cell" role="cell">
            <div class="amount bg-success fc-success">+3,490.20 PLN</div>
          </div>
          <div class="flex-cell-edit" role="cell">
            <a href="" class="fa fa-lg fa-pen"></a>
          </div>
        </div>
        <div class="flex-row" role="rowgroup">
          <div class="flex-cell" role="cell">
            <div class="category-square style-red my-auto">
              <span class="fa fa-lg fa-briefcase"></span>
            </div>
          </div>
          <div class="flex-cell" role="cell">Premia Miesięczna</div>
          <div class="flex-cell" role="cell">11:24</div>
          <div class="flex-cell" role="cell">
            <div class="amount bg-success fc-success">+3,490.20 PLN</div>
          </div>
          <div class="flex-cell-edit" role="cell">
            <a href="" class="fa fa-lg fa-pen"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}