{% extends "layout.html" %}
{% block title %}Historia Transakcji{% endblock %}
{% set active_page = "history" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}
{% block content %}
<div class="history-flexbox bg-white">
  <table>
    <thead>
      <tr>
        <th scope="col">Kategoria</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Data</th>
        <th scope="col">Konto</th>
        <th scope="col">Kwota</th>
        <th scope="col">Edycja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="category-square style-cyan my-auto">
            <span class="fa fa-lg fa-book"></span>
          </div>
        </td>
        <td>Bardzo bardzo bardzo długa nazwa transakcji</td>
        <td>14.10.2022<br>8:34</td>
        <td>Santander<br>Karta Kredytowa</td>
        <td>
          <div class="tr-type bg-danger fc-danger">-43,229.60 PLN</div>
        </td>
        <td>
          <a href="" class="fa fa-lg fa-pen"></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="category-square style-orange my-auto">
            <span class="fa fa-lg fa-briefcase"></span>
          </div>
        </td>
        <td>Premia Miesięczna</td>
        <td>13.10.2022<br>8:34</td>
        <td>PKO BP<br>Karta Debetowa</td>
        <td>
          <div class="tr-type bg-success fc-success">+3,490.20 PLN</div>
        </td>
        <td>
          <a href="" class="fa fa-lg fa-pen"></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="category-square style-orange my-auto">
            <span class="fa fa-lg fa-briefcase"></span>
          </div>
        </td>
        <td>Premia Miesięczna</td>
        <td>13.10.2022<br>8:34</td>
        <td>PKO BP<br>Karta Debetowa</td>
        <td>
          <div class="tr-type bg-success fc-success">+3,490.20 PLN</div>
        </td>
        <td>
          <a href="" class="fa fa-lg fa-pen"></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="category-square style-orange my-auto">
            <span class="fa fa-lg fa-briefcase"></span>
          </div>
        </td>
        <td>Premia Miesięczna</td>
        <td>13.10.2022<br>8:34</td>
        <td>PKO BP<br>Karta Debetowa</td>
        <td>
          <div class="tr-type bg-success fc-success">+3,490.20 PLN</div>
        </td>
        <td>
          <a href="" class="fa fa-lg fa-pen"></a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="category-square style-orange my-auto">
            <span class="fa fa-lg fa-briefcase"></span>
          </div>
        </td>
        <td>Premia Miesięczna</td>
        <td>13.10.2022<br>8:34</td>
        <td>PKO BP<br>Karta Debetowa</td>
        <td>
          <div class="tr-type bg-success fc-success">+3,490.20 PLN</div>
        </td>
        <td>
          <a href="" class="fa fa-lg fa-pen"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}