<!doctype html>
<html lang="pl">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous" async></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0" defer></script>
    <script src="{{url_for('static', filename='js/chartjs-custom.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/navbar.js')}}" async></script>
    
    <title>Capythal - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <aside id="navbar" class="navbar">
      <a class="logo fs-1" href="{{ url_for('home') }}">Capythal</a>
      <ul class="navbar-list-top">
        <li class="menu-button {{ 'active' if active_page == 'home' else '' }}">
          <a href="{{ url_for('home') }}" class="menu-button-link">
            <span class="fa fa-fw fa-home my-auto"></span>
            <span class="ml-1 fs-4">Glówna Strona</span>
          </a>
        </li>
        <li class="menu-button {{ 'active' if active_page == 'stats' else '' }}">
          <a href="{{ url_for('stats') }}" class="menu-button-link">
            <span class="fa fa-fw fa-bar-chart my-auto"></span>
            <span class="ml-1 fs-4">Statystyki</span>
          </a>
        </li>
        <li class="menu-button {{ 'active' if active_page == 'accounts' else '' }}">
          <a href="{{ url_for('accounts') }}" class="menu-button-link">
            <span class="fa fa-fw fa-credit-card my-auto"></span>
            <span class="ml-1 fs-4">Konta</span>
          </a>
        </li>
        <li class="menu-button {{ 'active' if active_page == 'goals' else '' }}">
          <a href="{{ url_for('goals') }}" class="menu-button-link">
            <span class="fa fa-fw fa-check-square-o my-auto"></span>
            <span class="ml-1 fs-4">Cele</span>
          </a>
        </li>
        <li class="menu-button {{ 'active' if active_page == 'history' else '' }}">
          <a href="{{ url_for('history') }}" class="menu-button-link">
            <span class="fa fa-fw fa-list-ul my-auto"></span>
            <span class="ml-1 fs-4">Historia Transakcji</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-list-bottom">
        <li class="nav-item">
          <span class="ml-1 fs-4">MENU UŻYTKOWNIKA</span>
        </li>
        <li class="menu-button">
          <a href="" class="menu-button-link">
            <span class="fa fa-fw fa-user-circle my-auto"></span>
            <span class="ml-1 fs-4">Profil</span>
          </a>
        </li>
        <li class="menu-button">
          <a href="" class="menu-button-link">
            <span class="fa fa-fw fa-cog my-auto"></span>
            <span class="ml-1 fs-4">Ustawienia</span>
          </a>
        </li>
        <li class="menu-button">
          <a href="" class="menu-button-link">
            <span class="fa fa-fw fa-sign-out my-auto"></span>
            <span class="ml-1 fs-4">Wyloguj się</span>
          </a>
        </li>
      </ul>
    </aside>
    <button id="exit-nav"></button>
    <main class="main-content">
      <div class="row-1">
        <a class="fs-1" href="{{ url_for('home') }}">Capythal</a>
        <button id="nav-toggler" class="nav-toggler fa fa-bars" href=""></button>
      </div>
      {%block content%}
      {%endblock%}
    </main>
    <footer class="fc-secondary fw-light">
      2022 © Capythal
    </footer>
    
  </body>
</html>