<div class="modal-content">
  <div class="modal-top fs-3">
    <span class="fw-semibold">Filtruj</span>
    <a class="tr-close">Zamknij</a>
  </div>
  <div class="switch-field-filter">
		<input type="checkbox" id="radio-income-f" name="switch-one" value="income" checked/>
		<label class="radio-el" for="radio-income-f">Przychody</label>
    <input type="checkbox" id="radio-expense-f" name="switch-one" value="expense" checked/>
		<label class="radio-el" for="radio-expense-f">Wydatki</label>
	</div>
  <div id="tr-filter">
    <form class="fs-4 income-form" name="filter" action="" onsubmit="return validateFilterForm()">
      <div class="input-line">
        <input id="tr_amount_min" name="tr_amount_min" class="fs-1" type="number" step="0.01" min="0" placeholder="Min wartość">
        <input id="tr_amount_max" name="tr_amount_max" class="fs-1" type="number" step="0.01" min="0.02" placeholder="Max wartość">
      </div>
      <div class="input-line">
        <select id="tr_category" name="Kategoria">
          <option value="" disabled selected>Kategoria</option>
          {% include 'additional/income-categories-list.html' %}
        </select>
        <select id="tr_account" name="Konto">
          <option value="" disabled selected>Konto</option>
          {% include 'additional/account-list.html' %}
        </select>
      </div>
      <div class="input-line">
        <span class="date-label-f fs-4">Od</span>
        <input id="tr_date_min" type=date>
        <span class="date-label-f fs-4">Do</span>
        <input id="tr_date_max" type=date>
      </div>
      <div class="input-line">
        <input id="tr_reset" class="fs-3" type="reset" value="Resetuj">
        <input id="tr_submit" class="fs-3" type="submit" value="Filtruj">
      </div>
    </form>
  </div>
</div>