.row-2 {
	padding: 1rem 1rem 0;
	display: flex;
	max-width: 100%;
}

.row-3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

.row-4 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 1rem 1rem;
}

.item-stat, .item-account, .item-statdisplay, .item-transactions, .item-goals {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
	border-radius: 1rem;
	padding: 1rem;
}

.item-stat-info {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.item-stat-percentage {
	border-radius: 1rem;
	display: flex;
	flex: 0 0 auto;
	min-width: 5rem;
	justify-content: center;
	margin: auto 0;
	padding: 1.5rem 0.5rem;
}

.item-account {
	flex-direction: column;
	position: relative;
	margin-top: 6rem;
}

.item-account-card {
	border-radius: 1rem;
	position: relative;
	padding: 1rem;
	width: 80vw;
	margin: 0 auto;
	aspect-ratio: 1.586/1;
	top: -7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-line {
	display: flex;
	justify-content: space-between;
}

.card-line > * {
	margin: auto 0;
}

.item-account-amount {
	font-size: 8vw;
}

.item-account-logo {
	height: 2rem;
	width: auto;
}

.item-account-select {
	display: flex;
	margin-top: -6rem;
	position: relative;
	width: 100%;
}

.account-select {
	width: 100%;
}

.account-stats {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item-account-stat {
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.account-stat-info {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.account-stat-percentage-1 {
	display: flex;
	margin: auto 0;
}

#chart-doughnut {
	height: 6rem !important;
	width: 6rem !important;
	margin: auto 0 auto 1rem;
}

.account-stat-percentage-2 {
	justify-content: center;
	height: 6rem;
	width: 6rem;
	padding: 1.5rem;
	border-radius: 1rem;
	display: flex;
	margin: auto 0 auto 1rem;
}

.item-statdisplay, .statdisplay-info {
	display: flex;
	flex-direction: column;
}

.money-select {
	margin-top: 1rem;
}

.statdisplay-chart {
	max-height: 10rem;
	/*padding: 0 1rem;*/
	margin-top: 2rem;
}

.item-transactions, .item-goals {
	flex-direction: column;
	justify-content: space-between;
}

.item-transactions-info, .item-goals-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.item-transactions-info > *, .item-goals-info > * {
	margin: auto 0;
}


.tr-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.tr-list-item-l {
	display: flex;
	flex-basis: 60%;
	min-width: 60%; /* możliwe że lepiej użyć 60% a nie 0 jak było poprzednio */
}

.tr-list-item-l-info {
	display: flex;
	white-space: nowrap;
	flex-direction: column;
	justify-content: center;
	min-width: 0;
	flex-basis: 100%;
}

.tr-list-item-r {
	flex-basis: 40%;
	text-align: end;
	white-space: nowrap;
}

.goal-list {
	height: 100%;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.goal{
	flex: 1 1 auto;
	margin-top: 1rem;
	gap: 2rem;
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.goal-text {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 500px) {
	.item-add-tr-sm {
		padding: 1rem 2rem;
	}

	.item-add-tr-plus {
		min-width: 8rem;
	}

	.item-stat-info {
		padding-left: 1rem;
	}

	.item-stat-percentage {
		min-width: 8rem;
		margin-right: 1rem;
	}

	.item-account-card{
		margin: 0 auto;
	}

	.item-account-logo {
		height: 4rem;
	}
}

@media (min-width: 800px) {
	.item-add-tr-lg {
		display: flex;
	}

	.item-add-tr-plus {
		min-width: 6rem;
		margin-right: 0;
	}

	.item-stat-percentage {
		min-width: 6rem;
		padding: 1rem 0;
	}

	.item-account {
		margin-top: 6rem;
	}

	.item-account-card {
		width: calc(80vw - 17rem);
	}

	.item-account-amount {
		font-size: 6vw;
	}

	.account-select {
		padding: 0.5rem;
		border: 0.2rem solid #46644F;
	}

	.statdisplay-info {
		flex-direction: row;
		align-items: center;
	}

	.statdisplay-info-name {
		margin-right: auto;
	}

	.money-select {
		margin-top: 0;
		margin-left: 0.5rem;
		border: 0.2rem solid #46644F;
		padding: 0.3rem 0.8rem;
	}

	.statdisplay-chart {
		max-height: 16rem;
	}

	#exit-nav, .row-1, .row-2 {
		display: none;
	}

	.add-tr, .logo {
		display: block;
	}
}

@media (min-width: 1100px) {
	.row-3 > * {
		flex: 0 1 calc(50% - 0.5rem);
	}

	.row-4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.item-account, .item-statdisplay {
		grid-column: span 2;
	}

	.item-account-card {
		width: 100%;
		max-width: 30rem;
	}

	.item-account-amount {
		font-size: 3rem;
	}

	.account-stats {
		flex-direction: row;
	}

	.account-stats > * {
		flex: 1 1 auto;
	}
}

@media (min-width: 1700px) {
	.row-3 > * {
		flex: 0 1 calc(25% - 1rem);
	}

	.row-4 {
		grid-template-columns: 2fr 2fr 3fr;
	}

	.item-add-tr-lg {
		flex: 1 1 100%;
		font-size: 3rem;
		padding: 1rem 3rem;
	}

	.item-add-tr-plus {
		margin-left: 2rem;
		background-color: #46644F;
	}
	
	.item-add-tr-plus > span {
		font-size: 5rem;
		color: #F3F8F5;
	}

	.item-add-tr-text {
		margin: auto;
	}

	.item-account {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: span 2;
	}

	.account-stats {
		flex-direction: column;
	}
}
