/*MAIN PARAMETERS*/
html, body{
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	font-family: 'Inter', sans-serif;
	width: 100%;
}

body {
	background-color: #F8F8F8;
	color: #1F2E23;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

input {
	background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

aside {
	background-color: #FFFFFF;
}

a {
	color: #1F2E23;
	cursor: pointer;
	text-decoration: none;
}

select {
	color: inherit;
	border-radius: 1rem;
	padding: 1rem;
	appearance: none !important;
	background: none;
	border: 0.3rem solid #46644F;
	cursor: pointer;
	transition: 0.2s;
}

input[type=date]:hover,
input[type=time]:hover,
select:hover {
	background-color: #46644F;
    color: #F3F8F5;
    transition: 0.2s;
}

progress {
	width: 100%;
	height: 2rem;
	padding: 1rem 0 0 0;
	margin: 0 0 1rem 0;
	background: none;
	border: 0;
	border-radius: 1rem;
}

progress::-webkit-progress-bar {
	height: 2rem;
	width: 100%;
	padding-left: 0;
	margin: 0 0 1rem 0;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1rem;
}
progress::-webkit-progress-value {
	height: 2rem;
	margin: 0 0 1rem 0;
	padding-left: 1rem; /* Rounded corners requires a padding */
	background: rgba(0,0,0,0.3);
	border-radius: 1rem;
}

progress::-moz-progress-bar {
	height: 2rem;
	width: 100%;
	padding-left: 0;
	margin: 0 0 1rem 0;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1rem;
}
progress::-moz-progress-value {
	height: 2rem;
	margin: 0 0 1rem 0;
	padding-left: 1rem; /* Rounded corners requires a padding */
	background: rgba(0,0,0,0.3);
	border-radius: 1rem;
}

/*background-color*/

.bg-white {
	background-color: #FFFFFF;
}

.bg-main-btn {
	background-color: #46644F;
}

.bg-success {
	background-color: #F3F8F5;
}

.bg-danger {
	background-color: #FFF0F0;
}

.bg-success-secondary {
	background-color: #D0DAD4;
}

/* color styles */

.style-red {
	color: hsl(0, 18%, 33%);
	background-color: hsl(0, 75%, 85%);
}

.style-orange {
	color: hsl(30, 18%, 33%);
	background-color: hsl(30, 75%, 85%);
}

.style-yellow {
	color: hsl(58, 18%, 33%);
	background-color: hsl(58, 75%, 85%);
}

.style-lime {
	color: hsl(90, 18%, 33%);
	background-color: hsl(90, 75%, 85%);
}

.style-green {
	color: hsl(135, 18%, 33%);
	background-color: hsl(135, 75%, 85%);
}

.style-cyan {
	color: hsl(180, 18%, 33%);
	background-color: hsl(180, 75%, 85%);
}

.style-blue {
	color: hsl(223, 18%, 33%);
	background-color: hsl(223, 75%, 85%);
}

.style-violet {
	color: hsl(260, 18%, 33%);
	background-color: hsl(260, 75%, 85%);
}

.style-pink {
	color: hsl(320, 18%, 33%);
	background-color: hsl(320, 75%, 85%);
}

.style-grey {
	color: hsl(0, 0%, 33%);
	background-color: hsl(40, 5%, 89%)
}

/*text-color*/

.fc-success {
	color: #239341;
}

.fc-danger {
	color: #FA5656;
}

.fc-secondary {
	color: #8E9690;
}

.fc-main-btn {
	color: #F3F8F5;
}

/*font-weight*/

.fw-light {
	font-weight: 300 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

/*CUSTOM CLASSES*/

/*margins*/

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 0.25rem !important;
}

.my-auto {
  margin: auto 0;
}

/*text*/

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*------------PARAMETERS------------*/
.alert-success {
	display: flex;
	flex: 1 1 100%;
	background-color: #D0DAD4;
	padding: 1rem;
	margin: 1rem 1rem 0;
	border-radius: 1rem;
}

.navbar {
	transition: all 0.4s ease-in-out;
}

.main-content {
	height: 100%;
}

.navbar {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 0;
	opacity: 0;
	height: 100%;
	max-width: 75%;
	overflow-y: auto;
	z-index: 101;
}

#exit-nav {
	position: fixed;
	z-index: 100;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border: none;
	opacity: 0;
	background: black;
}

.row-1 {
	display: flex;
	max-width: 100%;
	padding: 0 1rem;
	justify-content: space-between;
	height: 5rem;
}

.row-1 > * {
	margin: auto 0;
}

.nav-toggler {
	color: #D0DAD4;
	border: none;
	background: none;
	font-size: 2rem !important;
	border-radius: 0.6rem;
	transition: 0.1s;
	padding: 0.5rem 0.8rem;
}

.nav-toggler:hover {
	background-color: #D0DAD4;
	color: #46644F;
	transition: 0.3s;
}

.nav-toggler:active {
	font-size: 1.5rem !important;
	transition: 0.1s;
}

.logo {
	display: none;
	margin: 1rem auto 0;
}

.item-add-tr-sm {
	padding: 1rem;
	border-radius: 1rem;
	width: 100%;
	display: flex;
}

.item-add-tr-lg {
	padding: 1rem;
	border-radius: 1rem;
	width: 100%;
	display: none;
	margin-top: 1rem;
}

.item-add-tr-sm:hover,.item-add-tr-lg:hover {
	opacity: 0.9;
}

.item-add-tr-text {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
	border-radius: 1rem;
	margin: 1rem 0;
	padding: 0;
}

.item-add-tr-plus {
	display: flex;
	min-width: 5rem;
	border-radius: 1rem;
}

.tr-plus {
	color: #46644F;
	margin: auto;
}

.navbar-list-top, .navbar-list-bottom {
	width: 100%;
	padding: 1.5rem;
	list-style: none
}

.navbar-list-top {
	margin-top: 0;
	margin-bottom: auto;
}

.navbar-list-bottom {
	margin-bottom: 0;
}

.nav-item {
	margin: 0.5rem 0;
}

.active {
	border-radius: 1rem;
	background-color: #F3F8F5;
}

.active a {
	color: #1F2E23 !important;
}

.active a:hover {
	color: #4D7357;
}

.menu-button a{
	margin-bottom: 0.25rem;
	color: #8E9690;
}

.menu-button a:hover {
	color: #1F2E23;
}

.menu-button-link {
	display: flex;
	padding: 1rem;
}

/* zastanowić się nad konstrukcją modali */
.modal {
	display: none;
	position: fixed;
	z-index: 110;
	padding-top: 2rem;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	border-radius: 1rem;
	background-color: #fefefe;
	margin: auto;
	padding: 1rem;
	width: calc(100% - 4rem);
}

.tr-close {
	color: #aaaaaa;
	float: right;
	font-weight: bold;
}

.tr-close:hover,
.tr-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.category-square {
	font-size: 1rem;
	height: 3rem;
	border-radius: 0.7rem;
	display: flex;
	aspect-ratio: 1/1;
}

.category-square > * {
	margin: auto;
}

.goal-progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}

footer {
	margin-top: auto;
	display: flex;
	margin-bottom: 1rem;
	justify-content: center;
}

.fs-1 {
	font-size: 2rem;
}

.fs-2 {
	font-size: 1.5rem;
}

.fs-3 {
  font-size: 1rem;
}

.fs-4 {
  font-size: 0.8rem;
}

.fs-5 {
  font-size: 0.5rem;
}


@media (min-width: 500px) {
	.row-1 {
		margin: 1rem 1rem 0;
	}

	.category-square {
		font-size: 1.6rem;
		height: 4rem;
	}

	.fs-1 {
		font-size: 3rem;
	}

	.fs-2 {
		font-size: 2rem;
	}

	.fs-3 {
	  font-size: 1.5rem;
	}

	.fs-4 {
	  font-size: 1.2rem ;
	}

	.fs-5 {
		font-size: 1rem;
	}
}

@media (min-width: 800px) {
	.navbar {
		width: 100%;
		opacity: 1;
		max-width: 17rem;
	}

	footer {
		margin-left: 17rem;
	}

	#exit-nav, .row-1, .row-2 {
		display: none;
	}

	.add-tr, .logo {
		display: block;
	}

	.modal-content {
		max-width: 40rem ;
	}

	.main-content {
		margin-left: 17rem;
	}

	.fs-1 {
		font-size: 3rem;
	}

	.fs-2 {
		font-size: 1.8rem;
	}

	.fs-3 {
	  font-size: 1.3rem;
	}

	.fs-4 {
	  font-size: 1rem;
	}
}